@using Beemonitor.Models
@model Beemonitor.Models.Sensor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.SensorName</h2>

@if (Model.Observations == null)
{
    <p> this Sensor has no observations so far</p>
}
else
{
    <div>
        <table class="table table-bordered table-hover">
            <tr>
                <th>Date Time</th>
                <th>Value</th>
                <th>Id</th>
                <th>SensorName</th>
            </tr>
            @foreach (Observation obs in Model.Observations)
            {
                <tr>
                    <td>@obs.ObsDateTime</td>
                    <td>@obs.ObsValue</td>
                    <td>@obs.ObservationId</td>
                    <td>@obs.SensorName</td>
                </tr>
            }
        </table>
    </div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
