@model IEnumerable<Beemonitor.Models.Sensor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SensorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SensorType.TypeDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.SensorName, "Details", "Sensors", new { id = item.SensorName }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SensorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SensorType.TypeDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SensorName }) |
            @Html.ActionLink("Where used", "WhereUsed", new { id=item.SensorName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SensorName })
        </td>
    </tr>
}

</table>
