@using Beemonitor.Models
@model Beemonitor.Models.Beehive


@{
    ViewBag.Title = "Amend Create Beehive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Amend/Create Beehive </h2>

@using (Html.BeginForm("Save", "Beehives"))
{
    @Html.ValidationSummary(true, "please fix the following errors...")
    <div class="form-group">
        @Html.LabelFor(m => m.BeehiveName)
        @Html.TextBoxFor(m => m.BeehiveName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BeehiveName)
    </div>
    <div>
        @Html.TextAreaFor(m=> m.ApiaryId)
    </div>

 
    @Html.HiddenFor(m => m.ApiaryId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
